<html>
  <head>
    <meta charset="UTF-8">
    <title>Text Editor</title>
    <link rel="stylesheet" type="text/css" href="static/css/homepage.css">
  </head>
  <body>
    <div class="bg-image"></div>
    <div class="container">
		<h1>Welcome to Text Editor</h1>
		<p>Enter your text here:</p>
        <div id = "textbox">
		    <textarea id="text" name ="text" rows = "10" cols = "50"></textarea>
        </div>
        <hr>
		<button onclick="saveText()">Save</button>
	</div>
	</div>
	
	<script>
		function saveText() {
			var userText = document.getElementById("userText").value;
			console.log(userText);
			// Add code here to save user's text
		}
	</script>
</body>
</html>